<h2 class="hero__title is-active">
  I'm <a href="{{main.nameUrl}}">{{main.name}}</a>,
  a <a href="{{main.roleUrl}}">{{main.role}}</a>
  at <a target="_blank" href="{{main.placeUrl}}">{{main.place}}</a>
  in RVA.
</h2>
<h2 class="hero__title">
  I'm <a target="_blank" href="{{github.nameUrl}}">{{github.name}}</a>,
  a <a target="_blank" href="{{github.roleUrl}}">{{github.role}}</a>
  using <a target="_blank" href="{{github.placeUrl}}">{{github.place}}</a>.
</h2>
<h2 class="hero__title">
  I'm <a target="_blank" href="{{twitter.nameUrl}}">{{twitter.name}}</a>,
  an <a target="_blank" href="{{twitter.roleUrl}}">{{twitter.role}}</a>
  using <a target="_blank" href="{{twitter.placeUrl}}">{{twitter.place}}</a>.
</h2>
<h2 class="hero__title">
  I'm <a target="_blank" href="{{pinboard.nameUrl}}">{{pinboard.name}}</a>,
  an <a target="_blank" href="{{pinboard.roleUrl}}">{{pinboard.role}}</a>
  using <a target="_blank" href="{{pinboard.placeUrl}}">{{pinboard.place}}</a>.
</h2>
<a href="javascript:" class="js-hero-change button hero__button">And?</a>
